{% extends 'main.html' %}

{% block content %}
<div class="container-fluid mt-0 pl-0">
    <div class="row">
      <div class="col-3 px-0">
        <!-- Блок фидов -->
        <div class="bg-dark text-white p-3" style="height: 100vh;">
            <ul class="list-group">
                {% for feed in feeds %}
                    <li class="list-group-item bg-dark text-white"><a href="/{{selected_board.slug}}/{{feed.slug}}" class="text-white">{{feed.title}}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-4 mt-2">
          <!-- Блок статей -->
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">{{selected_feed.title}}</h5>
              <ul class="list-group">
                {% for article in articles %}
                    <li class="list-group-item border-0"><a href="{{article.url}}" hx-get="/{{selected_board.slug}}/{{selected_feed.slug}}/{{article.slug}}" hx-swap="innerHTML" hx-target="#output">{{article.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-5 mt-4">
          <!-- Блок выбранной статьи -->
          <div class="card">
            <div class="card-body">
                <div id="output">Выберите статью...</div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}